<div class="container" style="margin-top:50px">
    <h4>Formulario</h4>
    <hr>
    <form novalidate [formGroup]="form" (ngSubmit)="submitForm()">
        <div>
            <div class="form-group row">
                <label class="col-2 col-form-label">Nombre</label>
                <div class="col-8">
                    <input class="form-control" [ngClass]="{'is-valid':form.controls['nombreFC'].valid, 'is-invalid': !form.controls['nombreFC'].valid}" type="text" placeholder="Nombre" formControlName="nombreFC">
                    <div class="form-group-feedback invalid-feedback" *ngIf="form.controls['nombreFC'].errors?.required">
                        <!-- primer forma de referirse al error-->
                        El campo es requerido
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-2 col-form-label">Apellido</label>
                <div class="col-8">
                    <input class="form-control" [ngClass]="{'is-valid':form.controls['apellidoFC'].valid, 'is-invalid': !form.controls['apellidoFC'].valid}" type="text" placeholder="Apellido" formControlName="apellidoFC">
                    <div class="form-group-feedback invalid-feedback" *ngIf="form.get('apellidoFC').hasError('required')">
                        <!-- segunda forma de referirse al error-->
                        El campo es requerido
                    </div>

                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Correo</label>
            <div class="col-md-8">
                <input class="form-control" [ngClass]="{'is-valid':form.controls['correoFC'].valid, 'is-invalid': !form.controls['correoFC'].valid}" type="email" placeholder="Correo electrónico" formControlName="correoFC">
                <div class="form-group-feedback invalid-feedback" *ngIf="form.controls['correoFC'].hasError('email')">
                    <!-- tercera forma de referirse al error-->
                    El correo es invalido
                </div>

            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">&nbsp;</label>
            <div class="input-group col-md-8">
                <button type="submit" class="btn btn-outline-primary" [disabled]="form.invalid">
                    Guardar
                </button>
            </div>
        </div>
        El formulario es válido: {{form.valid}}
    </form>
</div>